* {
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    color:rgb(2, 0, 140);
    background:url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1{
    font-family: 'font';
    font-size: 50px;
}

h2{
    background-color: rgb(182, 203, 228);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    margin: 0 auto;
    

}

section{
    background:linear-gradient(rgba(210, 196, 196, 0.48),rgba(124, 168, 186, 0.343));
    display: flex;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 8%;
    justify-content: space-around;

}
#box1{
    padding: 50px;
    border-radius: 10px;
    cursor: pointer;
    
   
}
#b1,#b2,#b3,#b4,#b5,#b6{
    display: none;
    color:black;
    cursor: pointer;
  
    
}

.mod{
    background-color: rgb(255, 199, 80);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    width: 100px;
   
}



.p{
    background-color: rgba(122, 148, 243, 0.83);
    border-radius: 10px;
    display: none;
    padding: 30px;
    margin: 20px 0;

}
p{
    margin: 20px 0;
    background-color: rgba(196, 249, 255, 0.574);
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

@font-face {
    font-family: 'font';
    src: url(./fonts/font.ttf);
}

